.popup {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-10px);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
